@model GYMONE.Models.ViewModels.MemberRegistrationVM

@{
    ViewBag.Title = "MemberDetails1";
}

<h2>MemberDetails1</h2>

<fieldset>
    <legend>MemberRegistrationVM</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MemID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MemberNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.countryid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.countryid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stateid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stateid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cityid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cityid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.religionid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.religionid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.casteid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.casteid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.subcasteid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.subcasteid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MemberFName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberFName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MemberLName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberLName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MemberMName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberMName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Age)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Age)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contactno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contactno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlantypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlantypeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkouttypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkouttypeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Createdby)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Createdby)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MemImagename)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemImagename)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MemImagePath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemImagePath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JoiningDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JoiningDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MainMemberID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MainMemberID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.forgenderid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.forgenderid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PaymentID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
