@model GYMONE.Models.MemberRegistrationDTO

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

<h3>Gender</h3>
@Html.DropDownListFor(model => model.Gender, new SelectList(Model.Listgender, "Value", "Text"), new { @class = "form-control" })
@Html.ValidationMessageFor(model => model.Gender)

<h3>Country</h3>
@Html.DropDownListFor(m => m.countryid, new SelectList(Model.ListCountry, "Id", "Country"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.countryid)
<h3>State</h3>
@Html.DropDownListFor(m =>m.stateid, new SelectList(Model.ListState, "Id", "State"),  new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.stateid)
<h3>City</h3>
 @Html.DropDownListFor(m => m.cityid, new SelectList(Model.ListCity, "Id", "CityName"), new { @class = "form-control" })
 @Html.ValidationMessageFor(model => model.cityid)

@*<h3>Religion</h3>
@Html.DropDownListFor(m => m.religionid, new SelectList(Model.ListReligion, "Id", "Religion"), new { @class = "form-control" })
@Html.ValidationMessageFor(model => model.religionid)*@

<h3>Caste</h3>
@Html.DropDownListFor(m =>m.casteid, new SelectList(Model.ListCaste, "Id", "Caste"),  new { @class = "form-control" })
@Html.ValidationMessageFor(model => model.casteid)

 <input id="Submit" onclick="return ConfirmDelete();" class="btn btn-success" type="submit" value="Save" />
 @Html.ActionLink("Cancel", "Index", "RegisterMember", new { @class = "btn btn-success" })


